extends ../layout
block content
  .container
    .row
        a.btn.btn-primary(href="/admin/movie/list", role="button" style="margin-bottom:20px") 进入列表页
      each item in movies
        .col-md-2
          .thumbnail
            a(href="/movie/#{item._id}")
              img(src="#{item.poster}", alt="#{item.title}")
            .caption
              h3 #{item.title}
              p: a.btn.btn-primary(href="/movie/#{item._id}", role="button") 观看预告片

